@inject StateContainer stateContainer;
<div class="container">
	<p class="memberText">Caller type: </p>
	<select @bind="stateContainer.CallerType">
		@foreach (var role in Enum.GetValues(typeof(CallerType)))
		{
			<option value="@role">@role</option>
		}
	</select>
</div>
@code 
{
	private CallerType callerType;
}

<style>

.container { display:inline-block;}
.container p, select{
	display: inline-block;
}
</style>